/* Mobile-first styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#container {
  background-color: white;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: left;
  margin-top: 0rem;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}


#password-box {
  height: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
  align-self: center;
  width: 100%;
  border-radius: 0.65rem;
  padding-block: 0.5rem;
}

#password {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  word-wrap: break-word;
  color: #333;
  align-self: center;
}

#message {
  position: absolute;
  top: 1.4rem;
  margin-top: 0.5rem;
  margin-right: 0rem;
  font-size: 0.9rem;
  height: 0.9rem;
}

label[for=slider] {
    text-align: center;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #555;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  width: auto;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  align-self: center;
}

button:hover {
  background-color: #0056b3;
}


/* Media queries for tablets */
@media (min-width: 600px) {
  #container {
    padding: 30px;
    max-width: 500px;
    margin-top: 0rem;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 1.8rem;
  }

  button {
    padding: 12px 24px;
    font-size: 1.1rem;
  }

  #password {
    font-size: 1.4rem;
  }
}

/* Media queries for desktops */
@media (min-width: 900px) {
  #container {
    padding: 40px;
    max-width: 600px;
    margin-top: 0rem;
    padding-bottom: 30px;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    padding: 14px 28px;
    font-size: 1.2rem;
  }

  #message {
  top: 1.7rem;
  }

  #password {
    font-size: 1.6rem;
  }
}
